<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Главная страница</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	
	<!-- build:css css/vendor.css -->
	<!-- bower:css -->		     
		<link href="bower/normalize.css/normalize.css" rel="stylesheet" />   
		<link href="bower/Font-Awesome/css/font-awesome.min.css"  rel="stylesheet"/>
	<!-- endbower -->
	<!-- endbuild -->
	<!-- build:css css/style.css -->
		<link rel="stylesheet" href="css/style.css">
	<!-- endbuild -->
</head>
<body>		
	
		<header class="header">										
			<div class="wrapper">

			</div>					
		</header>
		<main class="main">
			<div class="wrapper">			
																							
			</div>		
		</main>				
		<footer class="footer">
			<div class="wrapper">
					
			</div>		
		</footer>	
</body>		

	
	
<!-- build:js js/vendor.js -->
<!-- bower:js -->
<script src="bower/jquery/dist/jquery.min.js"></script>  
<!-- endbower -->
<!-- endbuild -->

<!-- build:js js/script.js -->
<script src="js/script.js"></script>
<!-- endbuild -->
</body>
</html>