@@include('template-parts/head.php')
    @@include('template-parts/header.php')

        @@include('template-parts/breadcrumbs.php')

        @@include('template-parts/txt.php')

        @@include('template-parts/team.php')

        @@include('template-parts/numbers.php')

        @@include('template-parts/feedbacks.php')

        @@include('template-parts/form-order.php')

        @@include('template-parts/footer.php')

        @@include('template-parts/popup-form.php')

@@include('template-parts/bottom.php')